.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.scroll {
  height: calc(100vh - 100px);
  overflow-y: scroll;
}

.heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.logo {
  width: 150px;
  height: 150px;
  align-self: center;
}

.cta {
  text-decoration: underline;
  position: fixed;
  bottom: 0;
  height: 50px;
}
