.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

section.heading {
  text-align: center;
  gap: 8px;
  padding: 32px 32px 0 32px;
}

section.heading h3 {
  padding: 0 24px;
}

section.description {
  background-color: var(--blue);
  flex-grow: 1;
  padding: 32px 24px;
  gap: 32px;
}

section.howItWorks {
  background-color: var(--yellow);
  flex-grow: 1;
  padding: 32px 24px;
  gap: 32px;
  color: var(--white);
}

section.howItWorks .wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}

section.howItWorks .wrapper p.descText {
  text-align: right;
}

section.howItWorks button.cta {
  color: var(--white);
  border: solid 3px var(--white);
}

.logo {
  width: 150px;
  height: 150px;
  align-self: center;
}

.cta {
  padding: 12px 32px;
  margin: 32px;
  border-radius: 32px;
  border: solid 3px var(--blue);
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
  color: var(--blue);
}

p.emoji {
  font-size: 3rem;
  align-self: center;
}

p.descText {
  padding: 0 8px;
  color: var(--white);
  font-size: 1.5rem;
}

p.bold {
  font-weight: 700;
}
