.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.logo {
  width: 150px;
  height: 150px;
  align-self: center;
}

.cta {
  text-decoration: underline;
  padding: 32px 0;
}
